
#input-div {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 75%;
    margin: auto;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#data-field-container {
    display: flex;
}

.data-field-div {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 10px;
}

#calc-button {
    margin-top: 5px;
    margin-bottom: 10px;
}

#roll-graph {
    width: 100%;
    overflow: hidden;
}