.label {
    margin-top: 8px;
}

.desc {
    margin-top: 8px;
    margin-bottom: 8px;
}

.custom-tooltip {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    opacity: 0.85;
    border: solid;
    border-width: 1px;
    border-color:black;
    border-radius: 25px;
}